.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (width < 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: #fff;
    border: 0;
    flex: 0 0 auto;
    margin: 0 20px;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  nav.active .menu {
    display: block;
    background-color: var(--color-burger-bg);
    position: absolute;
    top: 5rem;
    right: 0;
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin: 0;
  }
  header > nav li > a:after {
    content: "";
  }
  nav.active .menu li {
    margin: 40px 20px;
    text-align: right;
  }
  nav.active .menu a {
    font-size: 24px;
  }
}
