* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Chicle";
  src: url("../fonts/Chicle-Regular.woff2");
}

@font-face {
  font-family: "Itim";
  src: url("../fonts/Itim-Regular.woff2");
}

@font-face {
  font-family: "Yellowtail";
  src: url("../fonts/Yellowtail-Regular.woff2");
}

:root {
  /* Colors */
  --color-bg: #3b4350;
  --color-header-bg: #fff;
  --color-header-text: #000;
  --color-burger-bg: #9da1a8;
  --color-text: #fff;
  --color-btn-bg: #ced0d4;
}

p {
  margin: 0 1em 1em 2em;
  color: var(--color-text);
  font-family: "Itim";
}

h2 {
  text-align: center;
  color: var(--color-text);
  font-family: "Chicle";
  margin-top: 1.5em;
  font-size: 2em;
}

h3 {
  text-align: center;
  color: var(--color-text);
  font-family: "Chicle";
  margin: 0 1.5em;
  font-size: 1.5em;
}

h4 {
  margin: 0.7em 0 0 1.6em;
  color: var(--color-text);
  font-family: "Chicle";
  font-size: 1.3em;
}

main a {
  font-family: "Itim";
  color: var(--color-text);
  text-decoration: none;
  margin: 0 2em;
}

main a:hover:not(.button) {
  text-decoration: underline;
}

.logo {
  width: 15%;
}

.logo-area {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

li a {
  text-decoration: none;
  color: var(--color-header-text);
  font-family: "Itim";
}

li a:hover {
  text-decoration: underline;
}

.menuitem {
  padding: 17px;
}

nav li {
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
}

.logo-area a {
  font-size: 1.8em;
  text-decoration: none;
  color: var(--color-header-text);
  font-family: "Yellowtail";
}

.logo-area a:hover {
  transform: scale(110%);
}

header {
  background-color: var(--color-header-bg);
  padding: 0.5em;
  position: sticky;
  top: 0;
  z-index: 1000;
}

body {
  background-color: var(--color-bg);
  margin: 0;
  background-image: url("../img/papir_result.webp");
  background-blend-mode: multiply;
  background-repeat: repeat-y;
  background-size: 100% auto;
}

.button {
  background-color: var(--color-btn-bg);
  border: 1px solid #000;
  padding: 0.5em;
  border-radius: 7px;
  color: #000;
  margin: 1em auto;
  max-width: 35%;
  display: block;
  text-align: center;
  line-height: 1.2;
}

.button:hover {
  transform: scale(105%);
  background-color: var(--color-burger-bg);
}

.arrow {
  position: relative;
  font-size: 18px;
}

footer {
  background-color: var(--color-header-bg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 0;
}

footer p {
  color: var(--color-header-text);
}

.kontakt {
  background-image: url(../img/ripped-paper.png);
  background-size: cover;
  padding: 17px 24px;
  display: inline-block;
}

@media (width > 600px) {
  .menu {
    display: flex;
    gap: 1em;
  }

  header ul {
    margin-left: auto;
    margin-right: 0.5em;
  }

  .logo-area a {
    font-size: 2.5em;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 3em;
  }

  h4 {
    font-size: 2.5em;
  }
}
